.login-container {
    width: 320px;
    padding: 25px;
    background: white;
    border-radius: 6px;
  }
  
  .login-container h2 {
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #777;
    border-radius: 3px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
  }
  